<section ng-controller="VenuesController" ng-init="findVenueByCity()">
  <!--Banner-->
  <section class="page-heading">
    <div class="title-slide">
      <div class="container">
        <div class="banner-content">
          <div class="page-title">
            <h3>Parks for {{ city }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Banner-->
  <div class="page-content page-product">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <ul>
              <li class="home"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li><span>//</span></li>
              <li class="category-1"><a ui-sref="locations">Locations</a></li>
              <li><span>//</span></li>
              <li class="category-2">{{ city | capitalize }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="product-list">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="toolbar">
              <p class="amount">
                <strong>SHOWING ALL {{ venues.length }} RESULTS</strong>
              </p>
              <div class="sorter">
                <div class="sort-by">
                  <select onchange="setLocation(this.value)">
                    <option selected="selected" value="">Default sorting</option>
                    <option value="">a-z</option>
                  </select>
                </div>
                <p class="view-mode">
                  <strong class="grid-active" title="Grid"><i class="fa fa-th-large"></i></strong>
                  <a class="list" title="List" href="product-listing-row.html"><i class="fa fa-th-list"></i></a>
                </p>
              </div>
            </div>
            <div class="row">
              <!-- Template repeater -->
              <div ng-repeat="venue in venues" class="col-md-4 col-sm-6 col-xs-12 pop">
                <div class="product-image-wrapper">
                  <div class="product-content">
                    <div class="product-image">
                      <a href="#"><img alt="" src="{{ venue.image }}"></a>
                    </div>
                    <div class="info-products">
                      <div class="product-name">
                        <a ref="/venues/{{ venue.address.city | lowercase }}/{{venue.slug}}">{{ venue.name }}</a>
                        <div class="product-bottom"></div>
                      </div>
                      <div class="price-box">
                        <span class="special-price">{{ venue.bio }}</span>

                      </div>
                      <div class="actions">
                        <ul>
                          <li><a href="#"><i class="fa fa-info"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a class="arrows quickview" href="/venues/{{ venue.address.city | lowercase }}/{{venue.slug}}"><i class="fa fa-info"></i></a>
                </div>
              </div>

            </div>

                

            <div class="clearfix"></div>

          </div>
          <div class="col-md-3">
            <div class="product-categories">
              <h3 class="title">{{ locationTitle }} </h3>
              <ul>
                <li ng-repeat="city in cities"><a href="/venues/{{city.city | lowercase }}">{{ city.city }} </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
