<section ng-controller="VenuesController" ng-init="findOne()">
  <!--Banner-->
  <section class="page-heading">
    <div class="title-slide">
      <div class="container">
        <div class="banner-content">
          <div class="page-title">
            <h3>{{ venue.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Banner-->
  <!-- Main Content -->
  <div class="main-content class-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <!-- Banner Content -->
          <section class="banner-details">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="images/bg-blog-2.jpg" alt="" />
                </div>
              </div>
            </div>
          </section>
          <!-- End Banner Content -->

          <!--  Desc -->
          <div class="content-page">
            <section class="class-details">
              <div class="details-desc">
                <div class="details-desc-title">
                  <h5>Class details</h5>
                  <div class="rating">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star-half-o"></i></span>
                    <span class="votes">234 votes</span>
                  </div>
                </div>
                <div class="details-desc-full">
                  <p ng-show="venue.details">
                    {{ venue.details }}
                  </p>
                  <p ng-hide="venue.details">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu ante eget nisl convallis tempus. Phasellus ante lectus, tincidunt tincidunt dui a, rhoncus interdum est. Sed molestie quis augue ac pulvinar. Pellentesque egoists sed tortor egestas pretium.
                      Nam eget fermentum tellus, et fermentum diam. Mauris hendrerit, diam non commodo laoreet. Mauris hendrerit, diam non commodo laoreet, est elit
                  </p>
                </div>
              </div>
              <div class="caveats">
                <div class="caveats-title">
                  <h5>Caveats Worth Mentioning</h5>
                </div>
                <div class="caveats-full">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu ante eget nisl convallis tempus. Phasellus ante lectus, tincidunt tincidunt dui a, rhoncus interdum est. Sed molestie quis augue ac pulvinar. Pellentesque egoists sed tortor egestas pretium.
                    Nam eget fermentum tellus, et fermentum diam. Mauris hendrerit, diam non commodo laoreet. Mauris hendrerit, diam non commodo laoreet, est elit
                  </p>
                  <p>
                    volutpat mauris, vel vehicula nisl orci id nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu ante eget nisl convallis tempus. Phasellus ante lectus, tincidunt tincidunt dui a, rhoncus interdum est.
                  </p>
                </div>
                <div class="caveats-content">
                  <p>
                    "You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality."
                  </p>
                </div>
              </div>
              <div class="share">
                <div class="share-title">
                  <h5>Share This Class</h5>
                </div>
                <div class="social-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
                  <a class="in" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </section>
          </div>
          <!-- End Desc -->

          <!--  Comments -->
          <section class="comments">
            <div class="comments-title">
              <h5>Comments</h5>
            </div>
            <div class="comments-content">
              <div class="answer">
                <div class="col-md-2 col-sm-2">
                  <img class="img-comments" src="images/img-protile.png" alt="" />
                </div>
                <div class="col-md-10">
                  <div class="content-cmt">
                    <span class="name-cmt">Joel Beasley</span>
                    <span class="date-cmt">September 04, 2016</span>
                    <span><a href="#">Reply</a></span>
                    <p class="content-reply">
                      Do you have to pay for this class upfront or can you pay on the day?
                    </p>
                  </div>
                </div>
              </div>
              <div class="reply">
                <div class="col-md-3 col-sm-3">
                  <img class="img-comments" src="images/img-protile.png" alt="" />
                </div>
                <div class="col-md-9">
                  <div class="content-cmt">
                    <span class="name-cmt">Paul Smith</span>
                    <span class="date-cmt">September 04, 2016</span>
                    <span><a href="#">Reply</a></span>
                    <p class="content-reply">
                      Hi Joel, you can do either. See our <a href="/prices">Prices</a> which gives full details. See you soon!
                    </p>
                  </div>
                </div>
              </div>
              <section class="form-comment">
                <div class="form-comment-title">
                  <h5>Leave a Comments</h5>
                </div>
                <form id="form-comment" class="form-validate" method="post">
                  <div class="form-validate-left">
                    <div class="name">
                      <input type="text" placeholder="Your Name" name="name">
                    </div>
                    <div class="mail">
                      <input type="email" placeholder="Your Email" name="email">
                    </div>
                    <div class="website">
                      <input type="text" placeholder="Your Website" name="website">
                    </div>
                    <div class="title">
                      <input type="text" placeholder="Title" name="title">
                    </div>
                  </div>
                  <div class="form-validate-right">
                    <div class="message">
                      <textarea placeholder="Your Message" rows="8" class="control" id="message" name="message"></textarea>
                    </div>
                    <div class="form-submit">
                      <input type="submit" value="Submit Comment" class="btn-submit" name="submit">
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </section>
          <!-- End Comments -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <section class="class-trainer">
            <div class="class-trainer-title">
              <h4>Class Trainer</h4>
              <div class="img-trainer">
                <img src="images/img-protile.png" alt="" />
              </div>
            </div>
            <div class="class-trainer-content">
              <h4>Lupin Remus</h4>
              <h6>Fitness Trainer</h6>
              <p>Lorem ipsum dolor sit ametcont adipiscing elit. Duis vestibulum turpis eu nunc volutpat vestibulum. scelerisque arcu ac ante tristique iaculis</p>
              <a class="profile" href="#">Profile</a>
            </div>
          </section>
          <section class="class-info">
            <div class="class-info-title">
              <h4>Class Information</h4>
            </div>
            <div class="class-info-content">
              <div class="info-content">
                <span><i class="fa fa-clock-o"></i> Time:</span>
                <span>6:30 pm</span>
              </div>
            </div>
            <div class="class-info-content">
              <div class="info-content">
                <span><i class="fa fa-calendar-o"></i> Day(s):</span>
                <span>Monday, Friday</span>
              </div>
            </div>
            <div class="class-info-content">
              <div class="info-content">
                <span><i class="fa fa-bookmark"></i> Suitable for:</span>
                <span>All</span>
              </div>
            </div>
            <div class="course">
              <a href="#">Sign up</a>
            </div>
          </section>
          <section class="class-related">
            <div class="class-related-title">
              <h4>Class Related</h4>
            </div>
            <div class="classes-content">
              <div class="related-product related-product-1">
                <div class="box-inner">
                  <img src="images/onepage/classes-1.jpg" alt="" />
                  <div class="box-content">
                    <div class="table">
                      <div class="box-cell">
                        <div class="title">
                          <a href="our-class-details.html">
                            <span>Leeds</span>
                          </a>
                        </div>
                        <div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
                        <div class="box-details">
                          <a href="our-class-details.html">Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="name-product">
                  <a class="name-product-details" href="#">Leeds</a>
                </div>
              </div>
              <div class="related-product related-product-2">
                <div class="box-inner">
                  <img src="images/onepage/classes-2.jpg" alt="" />
                  <div class="box-content">
                    <div class="table">
                      <div class="box-cell">
                        <div class="title">
                          <a href="our-class-details.html">
                            <span>Huddersfield</span>
                          </a>
                        </div>
                        <div class="box-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
                        <div class="box-details">
                          <a href="our-class-details.html">Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="name-product">
                  <a class="name-product-details" href="#">Huddersfield</a>
                </div>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content -->
  </div>

</section>
