<section ng-controller="VenuesController" ng-init="findOne()">
  <!--Banner-->
  <section class="page-heading">
    <div class="title-slide">
      <div class="container">
        <div class="banner-content">
          <div class="page-title">
            <h3>{{ venue.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Banner-->
  <!-- Main Content -->
  <div class="main-content class-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <!--  Desc -->
          <div class="content-page">
            <section class="class-details">
              <div class="details-desc">
                <div class="details-desc-full">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="details-desc-title">
                      <h5>Class Times</h5>
                    </div>
                    <div class="price-tb">
                      <div class="col-md-12 price-table-content">
                      </div>
                      <div class="col-md-12  price-list">
                        <div class="price-table-1">
                          <ul>
                            <li class="icon">Day</li>
                            <li class="icon">Times</li>
                            <li>Instructor</li>
                          </ul>
                          <ul>
                            <li class="icon">Mon</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].monday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].monday.times !== 0" ng-repeat="time in venue.timetable[0].monday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].monday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Tue</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].tuesday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].tuesday.times.length !== 0" ng-repeat="time in venue.timetable[0].tuesday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].tuesday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Wed</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].wednesday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].wednesday.times.length !== 0" ng-repeat="time in venue.timetable[0].wednesday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].wednesday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Thu</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].thrusday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].thrusday.times.length !== 0" ng-repeat="time in venue.timetable[0].thursday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].thursday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Fri</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].friday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].friday.times.length !== 0" ng-repeat="time in venue.timetable[0].friday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].friday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Sat</li>
                            <li>
                              <span ng-show="venue.timetable[0].saturday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].saturday.times.length !== 0" ng-show="venue.timetable" ng-repeat="time in venue.timetable[0].saturday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].saturday.instructor }}</li>
                          </ul>
                          <ul>
                            <li class="icon">Sun</li>
                            <li class="icon">
                              <span ng-show="venue.timetable[0].sunday.times.length === 0">-</span>
                              <span ng-show="venue.timetable[0].sunday.times.length !== 0" ng-repeat="time in venue.timetable[0].sunday.times">{{ time }} </span>
                            </li>
                            <li>{{ venue.timetable[0].sunday.instructor }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="edetails-desc">
                    <div class="details-desc-full">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="details-desc-title">
                          <h5>Prices</h5>
                        </div>
                        <div class="price-tb">
                          <div class="col-md-12 price-table-content">
                          </div>
                          <div class="col-md-12  price-list">
                            <div class="price-table-1">
                              <ul>
                                <li class="icon">Pay as you go</li>
                                <li></li>
                              </ul>
                            </div>
                            <!-- TODO: create table: -->
                            {{ city['price-info'] | json }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="details-desc-title">
                      <h5>Meeting Point</h5>
                      <p ng-bind="venue.meetingPointDesc"></p>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="caveats">
                  <div class="caveats-title">
                    <h5>Map</h5>
                  </div>
                  <div class="caveats-full">
                    <!-- <a ng-show="venue.googleMap" href="{{ venue.googleMap }}">View on google Map</a> -->
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                      </ui-gmap-marker>
                    </ui-gmap-google-map>
                  </div>
                </div>
                <br/>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="details-desc-title">
                  <h5>Address</h5>
                  <p ng-bind="venue.address.venue"></p>
                  <p ng-bind="venue.address.street"></p>
                  <p ng-bind="venue.address.city"></p>
                  <p ng-bind="venue.address.county"></p>
                  <p ng-bind="venue.address.postcode"></p>
                </div>
              </div>
              <div class="share">
                <div class="share-title">
                  <h5>Share This Class</h5>
                </div>
                <div class="social-icon">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
                  <a class="in" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </section>
          </div>
          <!-- End Desc -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <section ng-repeat="instructor in venue.instructors" class="class-trainer">
            <div class="class-trainer-title">
              <h4>Class Trainer</h4>
              <div class="img-trainer">
                <img width="100px" height="100px" ng-src="{{ instructor.image }}" alt="{{ instructor.name }}" />
              </div>
            </div>
            <div class="class-trainer-content">
              <h4>{{ instructor.name }}</h4>
              <h6>Skilled In</h6>
              <ui ng-repeat="skills in instructor.specialities">
                <li>{{ skills }}</li>
              </ui>
              <br />
              <a class="profile" ui-sref="instructors.view({instructorId: instructor._id})">Profile</a>
            </div>
          </section>
          <section class="class-info">
            <div class="class-info-title">
              <h4>Class Information</h4>
            </div>
            <div class="class-info-content">
              <div class="info-content">
                <span><i class="fa fa-bookmark"></i> Suitable for:</span>
                <span>All</span>
              </div>
            </div>
            <div class="course">
              <a ui-sref="authentication.signup">Sign up</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content -->
  </div>

</section>
