<!--Banner-->
<section ng-controller="CorporateController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Corporate Fitness</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">Corporate Fitness</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Corporate -->
  <div class="main-content">
		<div class="container">
			<div class="row">
				<section id="corporate" class="corporate">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="block-left">
              <div class="about-title">
                <h3>A Healthy Workforce Is A Productive Workforce</h3>
              </div>
              <div class="corporate-desc">
                <p>UK Outdoor Fitness work with several businesses to provide corporate fitness training either as one off events (including team building games, as part of away days etc) or regular reoccurring classes. We also provide Health checks with <a href="https://juice.shef.ac.uk/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://juice.shef.ac.uk/', 'Juice Health and Well being ']);">Juice Health and Well being </a>(Part of the University of Sheffield)&nbsp;as well as run there fitness programme with a <a href="https://juice.shef.ac.uk/activities/activity?id=2249#reviewshttps://juice.shef.ac.uk/activities/activity?id=2249#reviews" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://juice.shef.ac.uk/activities/activity?id=2249#reviewshttps://juice.shef.ac.uk/activities/activity?id=2249#reviews', '5 Star feedback rating ']);">5 Star feedback rating </a></p>
                <p>What we offer: </p>
                <ul>
                  <li>Corporate Fitness, Health and Well Being packages in partnership with Juice Health and Well being</li>
                  <li>Bootcamp Fitness classes </li>
                  <li>Boxing </li>
                  <li>Health Checks</li>
                  <li>Corporate Discount packages for staff coming to our classes</li>
                </ul>
                <p><strong>For larger Corporate Health and well being scheme please visit our partner company Juice limited website</strong> <a href="http://www.juicelimited.co.uk/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.juicelimited.co.uk/', 'http://www.juicelimited.co.uk/']);">http://www.juicelimited.co.uk/</a></p>


                <section class="our-partners">
						<div class="container">
							<div class="row">
								<div class="headding-title">
									<h4>Companies we currently work with</h4>
									<div class="headding-bottom"></div>
								</div>
								<div class="brand">
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/554408_167431760049812_167429923383329_237816_731917842_n-150x150.jpg" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/University_Sheffield-logo-150x150.jpg" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/Vodafone-150x150.png" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/First-Direct-Leeds-150x80.png" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/Unknown-150x144.png" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
									<div class="col-md-2 col-sm-4 col-xs-12">
										<div class="img-brand"><img src="" alt="" pagespeed_url_hash="" onload=""></div>
									</div>
								</div>
							</div>
						</div>
					</section>

          <h3>NATIONAL HR AWARDS AND FEEDBACK FROM OUR CORPORATE FITNESS PROGRAMMES:</h3>
          <ul>
            <li>Winning 2 National HR Awards in collaboration with University of Sheffield</li>
            <li><a href="http://www.uhr.ac.uk/Awards.aspx" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.uhr.ac.uk/Awards.aspx', 'UHR HR High performance winner']);">UHR HR High performance winner</a></li>
            <li>HR Excellence Award Winner</li>
            <li>5 Star Feedback at the University of Sheffield</li>
          </ul>

          <section class="our-partners">
              <div class="container">
                <div class="row">
                  <div class="headding-title">
                    <h4>Our Partners</h4>
                    <div class="headding-bottom"></div>
                  </div>
                  <div class="brand">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/UHR-Logo-New-150x150.jpg" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/HR_excellence2014_winner-1-150x150.jpg" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                      <div class="img-brand"><img src="" alt="" pagespeed_url_hash="" onload=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

                <p>Feedback</p>
                <a href="http://www.ukoutdoorfitness.com/wp-content/uploads/2014/03/PAGE-2.png"><img class="wp-image-11659 size-full" src="//www.ukoutdoorfitness.com/wp-content/uploads/2014/03/PAGE-2.png" alt="Feedback from the University of Sheffield Staff" width="853" height="143"></a><p class="wp-caption-text">Feedback from the University of Sheffield Staff</p>

                <h3>BENEFITS TO YOUR COMPANY</h3>
                <p>It is a well known fact a healthy workforce is a more productive workforce. However most employers do not encourage exercise participation, due to lack of knowledge or potential high costs.</p>
                <p>Latest research shows the following:</p>
                <ul>
                <li>On average employees in the UK take 8 days/year off sick</li>
                <li>Employees who regularly exercise take 22% less sick days than those who don’t</li>
                <li>Sickness costs the UK economy over £17 billion/year</li>
                <li>The average cost per employee’s sick days to the employer is £476</li>
                <li>Yorkshire has one of the highest rates of sickness in the UK</li>
                </ul>
                <p>Employees who regularly exercise are proven to have significantly:</p>
                <ul>
                  <li><a href="http://www.hrmagazine.co.uk/hro/news/1146785/exercise-helps-staff-deal-stress-thomsons-online-benefits-md" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.hrmagazine.co.uk/hro/news/1146785/exercise-helps-staff-deal-stress-thomsons-online-benefits-md', 'Reduced stress levels (2nd highest cause of sick days)']);">Reduced stress levels (2nd highest cause of sick days)</a> (See link)</li>
                  <li>Reduced chances of heart disease (cause of 60 million sick days last year)</li>
                  <li>Increased mental health (mental health issues are the biggest cause of long term absence from work)</li>
                  <li>Boosted immune system, meaning far fewer short term absences from illnesses such as flu</li>
                  <li>Reduced chance of back pain (3rd highest cause of long term absence from work)</li>
                  <li>Better quality of sleep, increasing energy levels at work</li>
                  <li>Increased self esteem, meaning motivated employees, a happier working environment &amp; increased productivity</li>
                  <li>Lower blood pressure &amp; cholesterol</li>
                </ul>
                <p>Try our classes </p>
                <p>We welcome anyone to come and try a free trial session, or if you have a suitable area, either indoors or out on your premises we would be delighted to come and deliver a taster session for your employees. </p>
                <p>Contact us now to discuss UK Outdoor Fitness working with your company!</p>
                <p><strong>For larger Corporate Health and well being scheme please visit our partner company Juice limited website</strong> <a href="http://www.juicelimited.co.uk/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.juicelimited.co.uk/', 'http://www.juicelimited.co.uk/']);">http://www.juicelimited.co.uk/</a></p>
              </div>
            </div>
          </div>

				</section>
			</div>
		</div>
	</div>
<!-- Corporate -->

</div>
