<!--Footer-->
<footer class="page-footer">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 infomation">
          <div class="copy-right">
            <div class="footer-right">
              <div class="line1">Copyright &copy; 2016 <a href="#"> UK Outdoor Fitness</a></div>
              <div class="line2">Design and development by Integral IT</div>
            </div>
          </div>
          <div class="social_icon">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 location">
          <div class="footer-title">
            <h4>Our Head Office</h4>
          </div>
          <div class="address">
            <p>123 Street &nbsp; <br>Leeds<br>Phone : <a href="tel:07964787981">07964787981</a><br>Email : <a href="mailto:info@ukoutdoorfitness.com">info@ukoutdoorfitness.com</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 send-mail">
          <div class="footer-title">
            <h4>Newsletter Sign Up</h4>
          </div>
          <form name="" method="post"  id="send-mail">
            <div class="info">Lorem ipsum dolor sit amet, consectetur adi sollicitud ante tellus ornare mi, et mollis</div>
            <div class="email">
              <input type="text" title="E-mail" name="user[email]" class="inputbox" placeholder="Your email" >
              <button class="button" title="Submit" type="submit"><i class="fa fa-arrow-right"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</footer>
<!--End Footer-->
<!--To Top-->
<div id="copyright">
  <div class="container">

    <div class="back-to-top"><a title="BACK_TO_TOP" href="#top"><i class="fa fa-chevron-up"></i></a></div>

    <div class="clrDiv"></div>
  </div>
</div>
<!--End To Top-->
