<div ng-controller="HeaderController">
  <div class="menu-wrap">

    <div class="social_icon">
      <a href="https://www.facebook.com/bootcampsfitness" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://twitter.com/ukoutdoorfitnes" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://uk.linkedin.com/pub/paul-smith/18/2a4/904" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="http://www.youtube.com/user/ukoutdoorfitness" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>

    <div class="main-menu">
      <br>
      <br>
      <h4 class="title-menu">Menu</h4>
      <button class="close-button" id="close-button"><i class="fa fa-times"></i></button>
    </div>
    <ul class="nav-menu">
      <li class="selected active">
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">About<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="/outdoor-bootcamp-and-fitness-classes">Outdoor Bootcamp and Fitness Classes</a></li>
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="/about-ukof-bootcamp">About UKOF</a></li>
          <li><a href="/prices">Prices</a></li>
          <li><a href="/obstacle-races-2016">Obstacle Races 2016</a></li>
          <li><a href="/corporate-fitness">Corporate Fitness</a></li>
          <ul>
            <li><a href="/corporate-fitness/university-of-sheffield">University Of Sheffield</a></li>
          </ul>
          <li><a href="/join-now/#anchor">Health Questionnaire</a></li>
          <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Locations<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a ui-sref="locations">Locations</a></li>
          <li><a ui-sref="venues.city({city: 'Leeds'})">Leeds</a></li>
          <li><a href="/join-now">Join Now</a></li>
        </ul>
      </li>
      <li ng-hide="authentication.user">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li ng-hide="authentication.user">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
      <li class="dropdown" ng-show="authentication.user">
        <a href="#" data-toggle="dropdown">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span><i class="icon-arrow"></i>
        </a>
        <ul class="child-nav dropdown-nav">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/contact-us">Contact</a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Blog<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="#">xxBlog details</a></li>
        </ul>
      </li>
      <li>
        <a href="/obstacle-races-2016">Events</a>
      </li>
      <li>
        <a href="/join-now">Join Now</a>
      </li>
    </ul>
  </div>
  <!--Menu Mobile-->

  <div class="content-wrapper">
    <!--Header-->
    <header id="header" class="header header-container alt reveal">
      <div class="top-links">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="top-link">
                <span class="call-top"><a href="tel:07964787981"><i class="fa fa-phone"></i>07964787981</a></span> <span><a href="mailto:info@ukoutdoorfitness.com"><i class="fa fa-envelope"></i>info@ukoutdoorfitness.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-3 logo">
            <a href="/"><img src="images/logo.png" alt="" /></a>
          </div>
          <div class="col-md-9 nav-container">
            <nav class="megamenu collapse navbar-collapse bs-navbar-collapse navbar-right mainnav col-md-10" role="navigation">
              <ul class="nav-menu">
                <li>
                  <a href="#">About</a>
                  <ul class="child-nav">
                    <li><a href="/outdoor-bootcamp-and-fitness-classes">Outdoor Bootcamp and Fitness Classes</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/about-ukof-bootcamp">About UKOF</a></li>
                    <li><a href="/prices">Prices</a></li>
                    <li><a href="/obstacle-races-2016">Obstacle Races 2016</a></li>
                    <li><a href="/corporate-fitness">Corporate Fitness</a></li>
                    <ul>
                      <li><a href="/corporate-fitness/university-of-sheffield">University Of Sheffield</a></li>
                    </ul>
                    <li><a href="/join-now">Health Questionnaire</a></li>
                    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Locations</a>
                  <ul class="child-nav">
                    <li><a ui-sref="locations">Locations</a></li>
                    <li><a ui-sref="venues.city({city: 'leeds'})">Leeds</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/contact-us">Contact</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                  <ul class="child-nav">
                    <li><a href="#">Blog details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/obstacle-races-2016">Events</a>
                </li>
                <li ng-hide="authentication.user" class="selected active">
                  <a ui-sref="authentication.signup">Join Now</a><!-- href="/join-now" -->
                </li>
                <li ng-hide="authentication.user">
                  <a ui-sref="authentication.signin">Sign In</a>
                </li>
                <li ng-show="authentication.user">
                  <a href="#">
                    <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                    <span ng-bind="authentication.user.displayName"></span>
                  </a>
                  <ul class="child-nav">
                    <li ui-sref-active="active">
                      <a ui-sref="settings.profile">Edit Profile</a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="settings.picture">Change Profile Picture</a>
                    </li>
                    <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                      <a ui-sref="settings.password">Change Password</a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="settings.accounts">Manage Social Accounts</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="/api/auth/signout" target="_self">Signout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <button class="menu-button" id="open-button"></button>
        </div>
      </div>
    </header>
    <!--End Header-->
  </div>
