

<div class="menu-wrap">

  <div class="social_icon">
    <a href="https://www.facebook.com/bootcampsfitness" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/ukoutdoorfitnes" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://uk.linkedin.com/pub/paul-smith/18/2a4/904" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="http://www.youtube.com/user/ukoutdoorfitness" target="_blank"><i class="fa fa-youtube"></i></a>
  </div>


    <div class="main-menu"><br><br>
      <h4 class="title-menu">Menu</h4>
      <button class="close-button" id="close-button"><i class="fa fa-times"></i></button>
    </div>
    <ul class="nav-menu">
      <li class="dropdown selected active">
        <a href="/" data-toggle="dropdown">Home</a>
        <ul class="child-nav dropdown-nav">
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">About<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="/about-ukof-bootcamp">Outdoor Bootcamp and Fitness Classes</a></li>
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="/outdoor-bootcamp-and-fitness-classes">Class</a></li>
          <li><a href="/prices">Prices</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Locations<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="calendar-full-view.html">xxCalendar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Contact<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Blog<i class="icon-arrow"></i></a>
        <ul class="child-nav dropdown-nav">
          <li><a href="#">xxBlog details</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--Menu Mobile-->
  <div class="content-wrapper">
    <!--Header-->
    <header id="header" class="header header-container alt reveal">
      <div class="top-links">
						<div class="container">
							<div class="row">
									<div class="col-md-10">
										<div class="top-link">
											<span class="call-top"><a href="tel:07964787981"><i class="fa fa-phone"></i>07964787981</a></span>  <span><a href="mailto:info@ukoutdoorfitness.com"><i class="fa fa-envelope"></i>info@ukoutdoorfitness.com</a></span>
										</div>
									</div>
							</div>
						</div>
				</div>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-3 logo">
            <a href="/"><img src="images/logo.png" alt="" /></a>
          </div>
          <div class="col-md-9 nav-container">
            <nav class="megamenu collapse navbar-collapse bs-navbar-collapse navbar-right mainnav col-md-10" role="navigation">
              <ul class="nav-menu">
                <li>
                  <a href="#">About</a>
                  <ul class="child-nav">
                    <li><a href="/about-ukof-bootcamp">Outdoor Bootcamp and Fitness Classes</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="/outdoor-bootcamp-and-fitness-classes">Class</a></li>
                    <li><a href="/prices">Prices</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Locations</a>
                  <ul class="child-nav">
                    <li><a href="calendar-full-view.html">xxCalendar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Contact</a>
                  <ul class="child-nav">
                    <li><a href="/contact-us">Contact Us</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Blog</a>
                  <ul class="child-nav">
                    <li><a href="blog-details.html">Blog details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Events</a>
                  <ul class="child-nav">
                    <li><a href="blog-details.html">Blog details</a></li>
                  </ul>
                </li>
                <li class="selected active">
                  <a href="#">Join Now</a>
                  <ul class="child-nav">
                    <li><a href="blog-details.html">Blog details</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- div class="quick-access col-md-1 col-sm-2 col-xs-3">
                            <div class="shopping-cart">
                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                <div class="mini-cart product-popular">
                                    <h3 class="title">Your Cart</h3>
                                    <ul>
                                        <li>
                                            <div class="product-image">
                                                <a href="#"><img src="images/popular-product.jpg" alt=""></a>
                                            </div>
                                            <div class="info-products">
                                                <div class="product-name">Lorem ipsum dolor sit amet consectetur</div>
                                                <div class="price-box">
                                                    <span class="regular-price">$200.60</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="product-image">
                                                <a href="#"><img src="images/popular-product.jpg" alt=""></a>
                                            </div>
                                            <div class="info-products">
                                                <div class="product-name">Lorem ipsum dolor sit amet consectetur</div>
                                                <div class="price-box">
                                                    <span class="regular-price">$200.60</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="check" title="Check out" type="button">
                                        <span>Check out</span>
                                    </button>
                                </div>
                            </div>
                            <div class="search">
                                <a href="#"><i class="fa fa-search"></i></a>
                                <form id="search" method="post" name="">
                                    <div class="search-box">
                                        <input class="top-search" type="text" placeholder="Enter your keywords" name="search" title="Search">
                                        <input class="sub-search" type="image" src="images/search.png" alt="Submit">
                                    </div>
                                </form>
                            </div>
                        </div -->
          <button class="menu-button" id="open-button"></button>
        </div>
      </div>
    </header>
    <!--End Header-->
