<section ng-controller="HomeController">
  <!--Banner-->
  <section class="slide-container to-top">
    <div class="ms-fullscreen-template" id="slider1-wrapper">
      <!-- masterslider -->
      <div class="master-slider ms-skin-default" id="masterslider-index">
        <div class="ms-slide slide-1" data-delay="0">
          <div class="slide-pattern"></div>
          <img src="images/blank.gif" data-src="images/bg-1.jpg" alt="lorem ipsum dolor sit"/>
          <h3 class="ms-layer hps-title1" style="left:101px"
              data-type="text"
              data-ease="easeOutExpo"
              data-delay="1000"
              data-duration="0"
              data-effect="skewleft(30,80)"
          >
            UK Outdoor Fitness
          </h3>
          <h3 class="ms-layer hps-title3" style="left:95px"
              data-type="text"
              data-delay="1900"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,40,t)"
              data-ease="easeOutExpo"
          >
            Get The Results You Deserve
          </h3>

          <h3 class="ms-layer hps-title4" style="left:101px"
              data-type="text"
              data-delay="2500"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,18,t)"
              data-ease="easeOutExpo"
          >
          <a ng-hide="authentication.user" ui-sref="authentication.signup">Try A Free Class</a>
          <a ng-show="authentication.user" ui-sref="settings.profile">Your Profile</a>
          </h3>
        </div>
        <div class="ms-slide slide-2" data-delay="0">
          <div class="slide-pattern"></div>
          <img src="images/blank.gif" data-src="images/bg-2.jpg" alt="lorem ipsum dolor sit"/>
          <h3 class="ms-layer hps-title1" style="left:101px"
              data-type="text"
              data-ease="easeOutExpo"
              data-delay="1000"
              data-duration="0"
              data-effect="skewleft(30,80)">
            UK Outdoor Fitness
          </h3>
          <h3 class="ms-layer hps-title3" style="left:95px"
              data-type="text"
              data-delay="1900"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,40,t)"
              data-ease="easeOutExpo"
          >
            Get Fit And Feel Great!
          </h3>

          <h3 class="ms-layer hps-title4" style="left:101px"
              data-type="text"
              data-delay="2500"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,18,t)"
              data-ease="easeOutExpo"
          >
          <a ng-hide="authentication.user" ui-sref="authentication.signup">Try A Free Class</a>
          <a ng-show="authentication.user" ui-sref="settings.profile">Your Profile</a>
          </h3>
        </div>

        <div class="ms-slide slide-3" data-delay="0">
          <div class="slide-pattern"></div>
          <img src="images/blank.gif" data-src="images/bg-3.jpg" alt="lorem ipsum dolor sit"/>
          <h3 class="ms-layer hps-title1" style="left:101px"
              data-type="text"
              data-ease="easeOutExpo"
              data-delay="1000"
              data-duration="0"
              data-effect="skewleft(30,80)"
          >
            UK Outdoor Fitness
          </h3>
          <h3 class="ms-layer hps-title3" style="left:95px"
              data-type="text"
              data-delay="1900"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,40,t)"
              data-ease="easeOutExpo"
          >
            Make This Your Year
          </h3>

          <h3 class="ms-layer hps-title4" style="left:101px"
              data-type="text"
              data-delay="2500"
              data-duration="0"
              data-effect="rotate3dtop(-100,0,0,18,t)"
              data-ease="easeOutExpo"
          >
          <a ng-hide="authentication.user" ui-sref="authentication.signup">Try A Free Class</a>
          <a ng-show="authentication.user" ui-sref="settings.profile">Your Profile</a>
          </h3>
        </div>
      </div>
      <!-- end of masterslider -->
      <div class="to-bottom" id="to-bottom"><i class="fa fa-angle-down"></i></div>
    </div>
  </section>
  <!--End Banner-->

  <div class="contents-main" id="contents-main">

    <!--About-->
    <section class="about scroll-to">
      <div class="about-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-page title-about">
                <h3>Welcome To UK Outdoor Fitness</h3>
                <p>Bored of the gym? Fed up of not seeing results? Like to get fit & have fun?</p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="container">
                <div class="content-about">
                  <p>Bored of the gym? Fed up of not seeing results? Like to get fit & have fun?
                    UK Outdoor Fitness offers the very best in outdoor/bootcamp training. Get fit, tone up, lose weight and meet new people, whilst having fun in parks across Leeds, Bradford, Wakefield and Sheffield.
                    Our sessions cater for all levels of fitness, from absolute beginners to advanced fitness fanatics. Regardless of your fitness level we can guarantee you quick results whether you want to lose weight, tone up, get stronger or improve your overall general fitness/health.
                    For a fraction of the price of gym membership you will have a superior workout session under the instruction of Personal Trainers/Fitness Instructors (all REPs level 3 and above). Our instructors will help you achieve your goals in a motivating, fun and effective manner.
                    All Levels of fitness welcome and catered for. We guarantee you results whatever fitness stage you are at.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 hour about-con">
              <div class="about-btm-left about-box">
                <div class="about-bottom-title">
                  <h4>Classes</h4>
                </div>
                <div class="working-hours">
                  <p>Upcoming classes - find your nearest</p>
                  <div class="time-hours">
                    <div class="time-hours-item">Roundhay - Fri <span>09:00 - 10:00</span></div>
                    <div class="time-hours-item">Temple Newsam - Sat <span>09:30 - 10:30</span></div>
                    <div class="time-hours-item">Knavesmire - Sun <span>10:00 - 11:00</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 news about-con block-item-special">
              <div class="about-btm-center about-box">

                <div class="about-bottom-title">
                  <h4>What's New?</h4>
                </div>
                <div class="news-content">
                  <ul>
                    <li class="latest-news-item">
                      <div class="news-item-inner">
                        <div class="news-date">
                          <div class="news-day">25</div>
                          <div class="news-month">OCT</div>
                        </div>
                        <div class="news-info">
                          <div class="news-title">
                            <a href="#">Blog Post 1</a>
                          </div>
                          <div class="news-time">
                            <p>Subtitle </p>
                          </div>
                          <div class="news-name">Paul Smith</div>
                        </div>
                      </div>
                    </li>
                    <li class="latest-news-item">
                      <div class="news-item-inner">
                        <div class="news-date">
                          <div class="news-day">28</div>
                          <div class="news-month">OCT</div>
                        </div>
                        <div class="news-info">
                          <div class="news-title">
                            <a href="#">Blog Post 2</a>
                          </div>
                          <div class="news-time">
                            <p>Subtitle </p>
                          </div>
                          <div class="news-name">Rob Maher</div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 contact-us about-con">
              <div class="about-btm-right about-box">
                <div class="about-bottom-title">
                  <h4>Card 3</h4>
                </div>
                <div class="contact-map">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End About-->


    <!--Class Man-Girl-->

    <section class="man-girl">
      <div class="container">
        <div class="row">
          <div class="content-main content-main-left col-md-6 col-sm-6 col-xs-12">
            <div class="img-class img-class-left">
              <img src="images/image-1.png" alt="">
            </div>
            <div class="class-content class-content-left">
              <div class="title">
                <h3 class="title-men">CTA 1</h3>
              </div>
              <div class="class-content-text">
                <p class="desc-content ">Lorem ipsum dolor sit amet, consectetur adi sollicitudin. Suspendisse pulvinar,
                  velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit</p>
                  <div ng-hide="authentication.user" class="join">
                      <a ui-sref="authentication.signup">Join Now</a>
                  </div>
                  <div ng-show="authentication.user" class="join">
                      <a ui-sref="settings.profile">Your Profile</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="content-main content-main-right col-md-6 col-sm-6 col-xs-12 ">
            <div class="img-class img-class-right">
              <img src="images/image-2.png" alt="">
            </div>
            <div class="class-content class-content-right">
              <div class="title">
                <h3 class="title-men">CTA 2</h3>
              </div>
              <div class="class-content-text">
                <p class="desc-content ">Lorem ipsum dolor sit amet, consectetur adi sollicitudin. Suspendisse pulvinar,
                  velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit</p>
                  <div ng-hide="authentication.user" class="join">
                      <a ui-sref="authentication.signup">Join Now</a>
                  </div>
                  <div ng-show="authentication.user" class="join">
                      <a ui-sref="settings.profile">Your Profile</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Class Man-Girl-->



    <!--Training-->
    <section class="training">
      <!-- PARALLAX WINDOWS -->
      <div class="parallax-block-wrap-module auto-width">
        <div class="parallax-block bt-advance-parallax" id="parallax-block">

          <!-- PARALLAX CONTENT -->
          <div class="control-button">
            <div class="nav-wrap hidden">
              <div class="nav-wrap-in next">
                <span class="nav-next"></span>
              </div>
              <div class="nav-wrap-in prev">
                <span class="nav-prev"></span>
              </div>
            </div>
            <div style="display: none;" class="button-wrap">
              <span class="button close-btn"></span>
            </div>
          </div>
          <div class="parallax-background">
            <!--Textured and color-->
            <div class="parallax-background-overlay"></div>
            <img alt="" src="images/bg-3.jpg">
          </div>

          <div class="parallax-block-content default-pos parallax-text">
            <div class="container">
              <p class="strart-your">See How Much Fun We Have</p>
              <h1 class="training-title">For Yourself!</h1>
              <span class="button open-btn"><span>Play Video</span></span>
            </div>
          </div>

          <div class="overlay-loading">
            <span class="loading"><img src="images/loading-black.gif" alt="" /></span>
          </div>

          <!-- POPUP CONTENT -->
          <div  class="parallax-content-wrap">
            <div class="parallax-content hidden">
              <div class="parallax-content-in">
              </div>
              <div class="content-show-large">
                <div class="item-contain">
                  <div class="video-inner">
                    <!-- VIDEO TAG OR EMBED CODE -->
                    <video data-fill-mode="fill" data-loop="true" data-autopause="false">
                      <source type="video/mp4" src="images/video/ukof-promo.mp4" />
                    </video>
                  </div>
                </div>
                <div class="loading"><img src="images/loading-black.gif" alt=""/></div>
              </div>
            </div>
          </div>
          <!-- end POPUP CONTENT -->

        </div>
      </div>
    </section>
    <!--End Training-->

    <!--TimeTable-->
    <section class="timetable">
      <div class="container">
        <div class="row">
          <div class="timetable-top">
            <div class="col-md-12">
              <div class="title-page title-time">
                <h3>Class Schedule</h3>
                <p>Our next classes are listed below.</p>
              </div>
            </div>
            <div class="timetable-content col-md-12">
              <div class="owl-carousel" data-nav="t-nav-" data-plugin-options='{"autoPlay":false,"autoHeight":true}'>
                <div class="time-table-main">
                  <div class="octember col-md-3 col-sm-6 col-xs-12">
                    <div class="month">
                      <div class="timetable-title">
                        <span>2016</span>
                        <p>April</p>
                      </div>
                      <div class="next">
                        <button class="circle icon-wrap t-nav-prev">
                          <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="circle icon-wrap t-nav-next">
                          <i class="fa fa-angle-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="monday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 6</span>
                        <p>Monday</p>
                      </div>
                      <img alt="" src="images/event-1.jpg"/>
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tuesday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 7</span>
                        <p>Tuesday</p>
                      </div>
                      <img alt="img" src="images/event-2.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wednesday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 8</span>
                        <p>Wednesday</p>
                      </div>
                      <img alt="img" src="images/event-3.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="thursday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 9</span>
                        <p>Thursday</p>
                      </div>
                      <img alt="img" src="images/event-4.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="friday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 10</span>
                        <p>Friday</p>
                      </div>
                      <img alt="img" src="images/event-5.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="saturday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 11</span>
                        <p>Saturday</p>
                      </div>
                      <img alt="img" src="images/event-6.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sunday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 11</span>
                        <p>Sunday</p>
                      </div>
                      <img alt="img" src="images/event-7.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="time-table-main">
                  <div class="octember col-md-3 col-sm-6 col-xs-12">
                    <div class="month">
                      <div class="timetable-title">
                        <span>2016</span>
                        <p>April</p>
                      </div>
                      <div class="next">
                        <button class="circle icon-wrap t-nav-prev">
                          <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="circle icon-wrap t-nav-next">
                          <i class="fa fa-angle-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="monday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 12</span>
                        <p>Monday</p>
                      </div>
                      <img alt="img" src="images/event-1.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tuesday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 13</span>
                        <p>Tuesday</p>
                      </div>
                      <img alt="img" src="images/event-2.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wednesday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 14</span>
                        <p>Wednesday</p>
                      </div>
                      <img alt="img" src="images/event-3.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="thursday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 15</span>
                        <p>Thursday</p>
                      </div>
                      <img alt="img" src="images/event-4.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="friday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 16</span>
                        <p>Friday</p>
                      </div>
                      <img alt="img" src="images/event-5.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="saturday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 17</span>
                        <p>Saturday</p>
                      </div>
                      <img alt="img" src="images/event-6.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sunday day col-md-3 col-sm-6 col-xs-12">
                    <div class="timetable-cont">
                      <div class="time-table-title">
                        <span>March, 18</span>
                        <p>Sunday</p>
                      </div>
                      <img alt="img" src="images/event-7.jpg">
                      <div class="box-content">
                        <div class="table">
                          <div class="box-cell">
                            <div class="timetable-info">
                              <div class="title-content">
                                <span>Bootcamp</span>
                                <div class="border-bottom"></div>
                                <p>16 P.M - 18P.M ROB MAHER</p>
                              </div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat volutpat nunc. Mauris eleifend nisi diam, ac cursus augue</p>
                              <div class="timetable_details">
                                <a href="#">Read more</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End TimeTable-->
    <!--Our Pricing-->
    <section class="our-pricing">
      <div class="our-pricing-title">
        <div class="ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front">
                <h2>New</h2>
                <h3>Locations</h3>
              </div>
              <div class="ch-info-back">
                <h2>New</h2>
                <h3>Locations</h3>
              </div>
            </div><!-- end ch-info -->
          </div><!-- end ch-info-wrap -->
        </div><!-- end ch-item -->
      </div>
      <div class="boxing-card">
        <div class="our-price col-md-6 col-sm-6 col-xs-12">
          <div class="image-price-right">
            <img src="images/our-price-1.jpg" alt=""/>
          </div>
          <div class="boxing-card-content">
            <h3>Bristol</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adi
              sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis</p>
            <div class="price">
              <a class="shopping-buy" href="/authentication/signup"><span>Join Now</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="yoga-card">
        <div class="our-price col-md-6 col-sm-6 col-xs-12">
          <div class="image-price-left">
            <img src="images/our-price-2.jpg" alt=""/>
          </div>
          <div class="yoga-content">
            <div class="yoga-card-content">
              <h3>Harrogate</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adi
                sollicitudin. Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis</p>
              <div class="price">
                <a class="shopping-buy" href="/authentication/signup"><span>Join Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Our Pricing-->
  </div>
</section>
