<!--Banner-->
<section ng-controller="JoinnowController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Join Now</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">Join Now</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Join Now -->
  <div class="main-content">
		<div class="container">
			<div class="row">
				<section id="joinnow" class="joinnow">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="block-left">
              <div class="about-title">
                <h3>Claim Your Free Week!</h3>
              </div>

              <div class="joinnow-desc">
                <p>
                  1. Create an account - <a href="/authentication/signup">here</a>
                </p>
                <p>
                  2. Sign the electronic document within your account
                </p>
                <p>
                  3. Like us on Facebook and follow on Twitter to get your free week!
                </p>
              </div>
            </div>
          </div>
				</section>
			</div>
		</div>
	</div>
<!-- Join Now -->

</div>
