<!--Banner-->
<section ng-controller="OcrController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Obstacle Races 2016</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">OCR 2016</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Obstacle Races -->
  <div class="main-content">
		<div class="container">
			<div class="row">
				<section id="about-ukof" class="about-ukof">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="block-left">
              <div class="about-title">
                <h3></h3>
              </div>
              <div class="about-desc">
                <p>UK Outdoor Fitness through out 2016 will be entering large teams in</p>
                <ul>
                  <li>Obstacle Course Races (OCR’s)</li>
                  <li>Mud Runs</li>
                  <li>10K</li>
                  <li>Fitness and Charity events and runs</li>
                </ul>
                <p>Our Bootcamps and fitness classes are the perfect way to get fit for races&nbsp;throughout the year.</p>
                <p>We currently hold Total Warrior Sessions at some of our venues as well as using our main classes to help you increase your stamina and fitness for the races.</p>
                <div class="about-img">
                  <img src="modules/core/client/img/classdesc/bg-classdesc.png" alt=""/>
                </div>
                <p><strong>Events we are entering in 2016 </strong>(Please email for&nbsp;details of joining our teams and discounted tickets)&nbsp;</p>
                <p><a href="http://yorkshirewarrior.com/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://yorkshirewarrior.com/', 'Yorkshire Warrior']);" title="Yorkshire Warrior">Yorkshire Warrior</a> Saturday 30th April (Harrogate) Year two – Discounted Tickets Available and on sale&nbsp;– Join the team &gt;&nbsp;<strong>&nbsp;</strong><a href="https://www.facebook.com/events/167470080289853/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://www.facebook.com/events/167470080289853/', 'Yorkshire Warrior Team on Facebook']);">Yorkshire Warrior Team on Facebook</a></p>
                <p><a href="http://www.totalwarrior.co.uk/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.totalwarrior.co.uk/', 'Total Warrior']);" title="Total Warrior">Total Warrior</a> Saturday&nbsp;25 and Sunday 26th June (Leeds Bramham Park) <strong>Champions and&nbsp;<strong>F</strong>astest team 2 years running &nbsp;</strong>Discounted Tickets Available and on sale – Will sell out fast<strong>&nbsp;</strong>– Join the team &gt;&nbsp;<a href="https://www.facebook.com/events/465718306922867/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://www.facebook.com/events/465718306922867/', 'Total Warrior Team on Facebook']);">Total Warrior Team on Facebook</a></p>
                <p><a href="https://toughmudder.co.uk/events/2016-yorkshire" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://toughmudder.co.uk/events/2016-yorkshire', 'Yorkshire Tough Mudder ']);">Yorkshire Tough Mudder </a>Saturday 6th August – Corporate Discounted Tickets available&nbsp;– Join the team &gt;&nbsp;<a href="https://www.facebook.com/events/812660952175592/" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://www.facebook.com/events/812660952175592/', 'Tough Mudder Team on Facebook']);">Tough Mudder Team on Facebook</a></p>
                <p>Painbarrier&nbsp; 2016 (Bradford) TBC</p>
                <p>Rough Runner&nbsp; Sunday 15th October (Manchester) TBC</p>
                <p>To book on or if you require any information please email races@ukoutdoorfitness.com</p>
                <p>Please check out of races T-Shirt nd vest for 2016 that you can purchase by emailing the above address</p>
                <a href="http://www.ukoutdoorfitness.com/wp-content/uploads/2015/01/Out-door-fitness-Design-2016.png"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2015/01/Out-door-fitness-Design-2016-300x127.png" alt="Race T Shirt 2016" width="300" height="127"></a>
                <a href="http://www.ukoutdoorfitness.com/wp-content/uploads/2015/01/thumb_IMG_2426_1024.jpg"><img src="//www.ukoutdoorfitness.com/wp-content/uploads/2015/01/thumb_IMG_2426_1024-300x163.jpg" alt="Race Vest 2016" width="300" height="163"></a>
                <p>Don’t worry if you are a novice to Obstacle course races / mud runs. We help you from start to finish.&nbsp;From beginners to advanced levels. You can train up for the races&nbsp;through attending&nbsp;our classes around Yorkshire.&nbsp;Please&nbsp;check out&nbsp;the locations we train at: <a title="Locations" href="http://www.ukoutdoorfitness.com/classes/">http://www.ukoutdoorfitness.com/classes/ </a></p>
                <p>Our expert trainers can tell you want to expect, offer advice and actually race with you when we go to the event!</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="block-left">
              <img src="modules/core/client/img/ocr/ocr-1.jpg" alt=""/>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="block-right">
              <div class="block-right-info">
                <div class="about-info">
                  <div class="icon-block">
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                  <div class="about-details">
                    <h4 class="about-details-title">OCRs Are Great Fun!</h4>
                    <p>
                    Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                    Cras sed enim quis nunc condimentum ullamcorper.
                    Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                    </p>
                  </div>
                </div>
                <div class="about-info">
                  <div class="icon-block">
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                  <div class="about-details">
                    <h4 class="about-details-title">Cost Effective</h4>
                    <p>
                    Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                    Cras sed enim quis nunc condimentum ullamcorper.
                    Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                    </p>
                  </div>
                </div>
                <div class="about-info">
                  <div class="icon-block">
                    <i class="fa fa-thumbs-up"></i>
                  </div>
                  <div class="about-details">
                    <h4 class="about-details-title">Guaranteed Results</h4>
                    <p>
                    Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                    Cras sed enim quis nunc condimentum ullamcorper.
                    Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="block-left">
              <p>If you would like to join our teams or train up with&nbsp;please email races@ukoutdoorfitness.com</p>
              <p>If you have a large group please let us know and you may be able to get a discount rate joining our team.</p>
            </div>
          </div>
				</section>
			</div>
		</div>
	</div>
<!-- Obstacle Races -->

</div>
