<!--Banner-->
<section ng-controller="PricesController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>PRICES</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">Prices</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->


  <!--Price Table-->
    <section class="price-table">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>How Much Does It Cost?</h3>



<p>Prices may vary from area and locations around the UK</p>
<h3>Prices FAQ</h3>
<ul>
<li>The following prices are for new starting members only. Non-contractual members the new pricing structure will apply (Including Pay as you train and Block session)</li>
<li><strong>Existing members will have a price freeze and will continue with the price they are paying</strong></li>
<li>Members who have cancelled or are cancelling and wish to re-join will be under the new pricing structure.</li>
<li>Contracts require 30 Days cancellation notice period after minimum contract is fulfilled.</li>
<li>Contracts after the minimum period are rolling contracts until notice is given to Debit Finance</li>
</ul>
<p><strong>Please find below our new pricing structure starting the 1st January 2015:</strong></p>
<h3>Monthly Membership Prices (Various Contract Lengths)</h3>
<ul>
<li>£28 p/m 12 month min membership (unlimited sessions) Free Jumper.</li>
<li>£30 p/m 6 Month min membership (unlimited sessions) Free Water bottle.</li>
<li>£32 p/m 3 Month min membership (unlimited sessions).</li>
<li>£24 p/m 1 x session a week any park (minimum 3 month contract).</li>
<li>£28 p/m 2 x sessions a week any park (minimum 3 month contract).</li>
<li>£26 p/m Key Services 3 month min membership<strong> (NHS/ FIRE/ POLICE)</strong> (unlimited sessions).</li>
<li>£55 p/m Couples, Partner, Buddy up membership 6 month min membership (Unlimited Membership for 2)</li>
</ul>
<p><strong>N.B All Monthly membership have a <span style="text-decoration: underline;">£20 Registration fee – If signing up directly after trial period this fee will be waived – Must be signed up within 3 days of finishing trial) (If you, as a pay as you train member join this registration fee will also be waived).</strong></p>
<h3>Month By Month Membership Prices (No Minimum Contract)</h3>
<ul>
<li>£40 p/m monthly membership (unlimited session).</li>
<li>£24 p/m student discount (full time courses only and Proof may be needed), unlimited sessions (group discounts available).</li>
</ul>
<p><strong>Indoor classes have a £1 surcharge per class due to the increase in hall hire and rentals.</strong></p>
<p><strong>Membership can be cancelled after a contract ends by notifying debit finance with 30 days notice.</strong></p>
<h3>Pay As You Go Options</h3>
<ul>
<li>Pay as you train <strong>£7</strong> per session (One off £20 registration Fee)</li>
<li>10 Session Block <strong>£60 </strong>(Cash/ Credit Card/ Cheque)</li>
<li>Yearly Annual Membership <strong>£280 </strong>one off payment – (Cash/ Credit Card/ Cheque)</li>
</ul>
  <p>Please read our <a title="Terms and Conditions" href="/terms-and-conditions">terms and conditions</a>
  <a ng-hide="authentication.user" ui-sref="authentication.signup">before signing up online</a>
  <a ng-show="authentication.user" ui-sref="settings.profile">ensure you have filled out the Health Questionnaire in your profile</a>
  .</p>
      </div>
    </section>
  <!--End Price Table-->

</div>
