<!--Banner-->
<section ng-controller="TermsController" class="page-heading">
  <div class="title-slide">
    <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Terms and Conditions</h3>
          </div>
        </div>
    </div>
  </div>
</section>
<!--End Banner-->
<div class="page-content">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
           <ul>
             <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
             <li><span>//</span></li>
             <li class="category-2">T's and C's</li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Terms -->
  <div class="main-content">
		<div class="container">
			<div class="row">
				<section id="terms" class="terms">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="block-left">
              <div class="about-title">
                <h3></h3>
              </div>

              <div class="terms-desc">

                <p>In addition to this form, Client will be required to sign and return the following forms to UK Outdoor Fitness prior to receiving a Fitness Consultation, Training Program Design, or beginning any Personal Training programme</p>
                <ul>
                  <li>Physical Activity Readiness Questionnaire (PAR-Q)/ Health History Questionnaire. As a member you may be asked to repeat this from time to time to keep our records up to date</li>
                  <li>It is your responsibility to let an instructor know with any changes to your health and that they are updated</li>
                  <li>This is your responsibility and we ask every starting participate to do this. This will either be a <span style="color: #0000ff;">paper version or electronically&nbsp;signed</span>.</li>
                </ul>
                <p>2. If you have any of the following physical conditions, you may be required to have a Medical Clearance and Physician’s Consent Form:</p>
                <ul>
                  <li>Hypertension (&gt;145/95 mm Hg)</li>
                  <li>Heart Conditions</li>
                  <li>Hyperlipidemia (cholesterol &gt;220 mg/dl or a total cholesterol-to-HDL ratio of &gt;5.0)</li>
                  <li>Diabetes</li>
                  <li>Family history of heart disease prior to age 60</li>
                  <li>Smoking</li>
                  <li>Abnormal resting EKG</li>
                  <li>Any other condition that UK Outdoor Fitness in its sole discretion may deem to present an unreasonable risk to your health, were you to participate in a fitness evaluation or program.</li>
                </ul>
                <p>3. Unless other arrangements are made, training sessions, and Program Design explanations (these services herein individually and collectively referred to as ‘sessions’) last approximately fifty – sixty minutes. In order to provide the best service to all Clients, UK Outdoor Fitness cannot commit to extending any particular session beyond its previously scheduled time.</p>
                <p>4. Rates for UK Outdoor Fitness services are subject to change.</p>
                <p>5. In order to provide the best possible service to all Clients, UK Outdoor Fitness asks that all Clients be ready to begin their session at the scheduled time. Time lost at the beginning of a session due to a Client’s tardiness cannot be made up at the end of the session as that could potentially impact the next scheduled Clients/ Class</p>
                <p>6. Cancellations</p>
                <ul>
                  <li>If you cancel your direct debit some membership type may incur joining fees again</li>
                  <li>Too cancel your direct debit you have to contact the following:&nbsp;admin@debitfinance.co.uk or call the following number<strong> 01908422002</strong></li>
                  <li><strong><span style="color: #0000ff;">All membership require 30 days notice after the minimum contractual period (3, 6,12 months)&nbsp;</span></strong></li>
                  <li>If a member rejoins the current price level will apply to the member</li>
                  <li>Once in contract members cannot cancel membership unless for reason stated in point 8</li>
                </ul>
                <p>7. Discounts.</p>
                <p>From time to time UK Outdoor Fitness Group may have offers and discount (NHS, Groupon, &nbsp;Living Social, Wowcher, &nbsp;Amazon Local, 118 118)</p>
                <ul>
                  <li>Only new members can use these offer</li>
                  <li>Any members who has been for a trial will be unable to redeem any other offer</li>
                  <li>Only one discounted offer can be bought by a member per life. Further purchase of any offer will not be accepted at any of our class. Unless this is a special offer and authorised by management</li>
                </ul>
                <p>8. Membership and Joining</p>
                <ul>
                  <li>New members wanting to join on Direct Debit part way through a month will pay a percentage of the monthly fee on a pro-rata basis which is worked out by Debit Finance</li>
                  <li>Members once in contract cannot cancel membership unless due to medical reason, injury or relocation, In some circumstance a member may be able to freeze there membership (For example pregnancy and restart again at a convenient time)</li>
                  <li>All memberships are on a <em><strong>rolling contract</strong></em> after the minimum contract runs out <span style="color: #0000ff;">you need to give 30 days notice</span> with Debit Finance to cancel your membership (See cancellations – section 7)</li>
                </ul>
                <p>9. Shirts (Sports tos) and shoes (Adequate trainers/ sport footwear) are required at all times during sessions. Client should also have water available as necessary during the workout and wear sun tan lotaion in higher temperatures. It is a client responsibily if he/she is prone to burning in the sun</p>
                <p>10. Clients have the right to terminate a particular exercise or workout at any time. You are in control of your workouts! If an exercise is uncomfortable or painful, or if you want to stop for any reason, you may do so. If a particular exercise is painful for you to do or you have an injury or other limitation that makes it difficult for you to do, UK Outdoor Fitness can attempt to substitute another exercise to work that particular muscle group.</p>
                <p>11. You will get from your workouts what you put in. Results will vary by individual and UK Outdoor Fitness cannot guarantee specific results. Client acknowledges that Client is responsible for their decisions regarding whether or not to exercise consistently, eat properly, rest enough, and live a healthy lifestyle.</p>
                <p>12. UK Outdoor Fitness respects your privacy. Due to the nature of our services, it is necessary to collect certain personal information from Clients. All information collected is treated as STRICTLY CONFIDENTIAL, and UK Outdoor Fitness will not share or redistribute your information with any third party except as necessary to provide services purchased by the Client, or as required by law. Any information gathered from a Client is simply for our records and, if applicable, necessary to provide the services to the Client for which we have been contracted.</p>
                <p>13. Please be aware that you do take exercise up at your own risk. Be aware of your surrounding and exercise as safely as you can.</p>
                <p>14. The age limit for participates is 16 and above. 14-16 year olds may train as long as they are accompanied by a parent or guardian. Parents or Guardians are responsible for their children at all times. Parents / Guardians will also be asked to fill in a Parental / Guardian Health form. Due to the nature of some of the exercises we may from time to time ask the person of age 14-16 not to join in the session as a purely safety precaution.</p>
                <ul>
                  <li>Updated May 2014</li>
                  <li>Updated December 2015</li>
                  <li>Updated April 2015</li>
                  <li>Updated September 2015</li>
                  <li>Updated March 2016</li>
                </ul>
                <p>All Terms and Conditions are subject to change. The most current version of these Terms, Conditions, and Policies will be posted on <a href="/terms-and-conditions/">www.ukoutdoorfitness.com/terms-and-conditions/</a></p>

              </div>
            </div>
          </div>
				</section>
			</div>
		</div>
	</div>
<!-- Terms -->

</div>
