<div class="wrapper wrapper-content" ng-controller="PasswordController">
  <!--Banner-->
  <section class="page-heading">
    <div class="title-slide">
      <div class="container">
        <div class="banner-content slide-container">
          <div class="page-title">
            <h3>Forgot Password</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Banner-->
  <!-- Page Content -->
  <div class="page-content">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
        <ul>
          <li class="home"><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
          <li><span>//</span></li>
          <li class="category-1"><a ui-sref="authentication.signin">Sign In</a></li>
          <li><span>//</span></li>
          <li class="category-2"><a href="#">Forgot Passoword</a></li>
        </ul>
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Main Content -->
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="ibox">
            <div class="ibox-content">
              <div class="row">
                <h3 class="col-md-12 text-center">Restore your password</h3>

                <p class="small text-center">Enter your account username.</p>

                <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                  <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
                    <fieldset>
                      <div class="form-group" show-errors>
                        <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>

                        <div ng-messages="forgotPasswordForm.username.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Enter a username.</p>
                        </div>
                      </div>
                      <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                      </div>
                      <div ng-show="success" class="text-center text-success">
                        <strong ng-bind="success"></strong>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>
    <!-- End Page Content -->
  </div>
